#container{
display: flex;
flex-direction: row;
background-color: blue;
height: 600px;
}
#hijo1{
display: flex;
flex-grow: 1;
background-color: red;
margin: 20px;
padding: 20px 0px 0px 20px;
}
#hijo2{
display: flex;
flex-grow: 4;
background-color: yellow;
margin: 20px;
padding: 20px 0px 0px 20px;
}
#hijo3{
display: flex;
flex-grow: 1;
background-color: red;
margin: 20px;
padding: 20px 0px 0px 20px;
}
#hijo4{
display: flex;
flex-grow: 10;
background-color: yellow;
margin: 20px;
padding: 20px 0px 0px 20px;
}
